/** CSS STYLE **/

/** COLOR POOL **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/** FONTS **/

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha";
  font-weight: 400;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/** COLORS **/
.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.twhite {
  color: var(--translucent-white);
}

.tdark {
  color: var(--translucent-dark);
}
/** BACKGROUNDS **/
.bglight {
  background-color: var(--light);
}

.bgbrown {
  background-color: var(--brown);
}

/** BASIC **/
.base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  margin: 100px 165px;
}

.bg-questions:before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 100px auto;
}

.head-img {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 461px;
}

.text {
  display: flex;
  width: 1100px;
  margin-top: 201px;
  gap: 30px;
}

.split {
  flex: 1 1 100%;
}

.em {
  line-height: 1em;
}

.about {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 49px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/** VIDEO SECTION **/
#video-section {
  text-align: center;
  background-color: var(--white);
}

.video {
  top: 359px;
  left: 261px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
/** NAVIGATION **/
#navigation {
  display: flex;
  width: 1440px;
  z-index: -1;
  background-color: var(--main-dark);
}

.nav {
  gap: 20px;
}

.cards {
  display: flex;
  flex: 1 1 100%;
  gap: 30px;
}

.card1 {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  max-height: 323px;
  padding: 24px;
  flex: 1 1 33%;
}

.card2 {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  max-height: 348px;
  padding: 24px;
  flex: 1 1 33%;
}

.cards h1 {
  font-size: 52px;
  line-height: 1.2em;
  justify-self: baseline;
}

.number {
  margin-bottom: 40px;
  font-family: "Neucha", sans-serif;
  font-size: 64px;
  line-height: 1em;
}

.flex30 {
  display: flex;
  gap: 30px;
}

/** MAIN **/
.section-img {
  position: relative;
  z-index: 11111111;
  vertical-align: middle;
}

.band-section {
  width: 1100px;
  height: 26px;
  margin: 100px 0px 20px;
  padding-left: 10px;
}

.kog {
  font-family: "Neucha", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
}

.kogdesc {
  font-family: "Neucha", sans-serif;
  font-size: 34px;
  line-height: 1.2em;
}

h4 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.zero {
  margin: 0;
}

.mgt30 {
  margin-top: 30px;
}

.mgb30 {
  margin-bottom: 30px;
}

