/** CSS STYLE **/

/** COLOR POOL **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/** FONTS **/

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha";
  font-weight: 400;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  margin: 0;
}

h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.f12 {
  font-size: 12px;
}

.f18 {
  font-size: 18px;
}
/** BASIC **/
.base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: 100px auto;
}

.fcolumn {
  flex-direction: column;
}

.text {
  display: flex;
  width: 1100px;
  margin-top: 201px;
  gap: 30px;
}

.split {
  flex: 1 1 100%;
}

.em {
  line-height: 1em;
}

/** COLORS **/
.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.twhite {
  color: var(--translucent-white);
}

.tdark {
  color: var(--translucent-dark);
}
/** BACKGROUNDS **/
.bg-questions:before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

.bglight {
  background-color: var(--light);
}

.bgbrown {
  background-color: var(--brown);
}

.bgdark {
  background-color: var(--dark);
}
/** HEADER**/
.head-img {
  position: absolute;
  top: -55px;
  right: -278px;
  height: 525px;
}

.about {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 49px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.about:hover {
  background-color: #EA7600;
}
/** VIDEO SECTION **/
#video-section {
  text-align: center;
  background-color: var(--white);
}

.video {
  position: relative;
  margin-top: -170px;
  top: 200px;
  z-index: 11111;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
/** NAVIGATION **/
#navigation {
  padding-top: 100px;
  background-color: var(--main-dark);
}

.nav {
  display: flex;
  gap: 30px;
}

.g20 {
  gap: 20px;
}

.card {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  max-width: 302px;
  padding: 24px;
}

.padz {
  max-width: 350px;
  padding: 0;
}

a.card:visited, a.card:link {
  color: #2a2626;
}

a.card:hover {
  background-color: var(--main);
  color: var(--white); 
}

a.card:hover h3{
  color: var(--white);
}

#navigation h1 {
  font-size: 52px;
  line-height: 1.2em;
}

.number {
  margin-bottom: 40px;
  font-family: "Neucha", sans-serif;
  font-size: 64px;
  line-height: 1em;
}

.flex30 {
  display: flex;
  gap: 30px;
}



/** MAIN **/
.section-img {
  position: relative;
  z-index: 11111111;
  vertical-align: middle;
}

.band-section {
  width: 1100px;
  height: 26px;
  margin: 100px 0px 20px;
  padding-left: 10px;
}

.kog {
  font-family: "Neucha", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
}

.kogdesc {
  font-family: "Neucha", sans-serif;
  font-size: 34px;
  line-height: 1.2em;
}

h4 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.zero {
  margin: 0;
}

.mgt30 {
  margin-top: 30px;
}

.mgb30 {
  margin-bottom: 30px;
}

/** FOOTER **/
.form {
  display: flex;
  width: 1100px;
  height: 190px;
  align-items: center;
}

form {
  display: flex;
}

.mgl55 {
  margin-left: 55px;
}

.mgr55 {
  margin-right: 55px;
}

input {
  position: relative;
  display: block;
  width: 423px;
  height: 50px;
  padding: 15px;
}

button {
  position: relative;
  display: flex;
  background-color: var(--main);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70px;
  border-style: none;
}

button::before{
  position: absolute;
  display: block;
  content: '';
  background: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}

button:hover {
  background-color: #EA7600;
}

.copirate {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

